*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    max-height: 100vh;
}

#form{
    margin-bottom: 30px;
}

#allocation{
    display: flex;
    min-width: 100px;
    justify-content: center;
}

.ident{
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    border: 1px solid black;
    background-color: rgb(211, 203, 203);
}
.city{
    display: flex;
    flex-direction: column;
    padding: 0 130px;
    border: 1px solid black;
    background-color: rgb(211, 203, 203);
}

#allocation p{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    border-top: 0;
    padding: 5px 0;
}



